<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_btn_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,169},{206,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,75}}</string>
                <key>sourceSize</key>
                <string>{206,75}</string>
            </dict>
            <key>com_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,201},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>com_btn_closelittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,368},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>com_btn_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,285},{226,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,81}}</string>
                <key>sourceSize</key>
                <string>{226,81}</string>
            </dict>
            <key>com_btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,246},{170,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,77}}</string>
                <key>sourceSize</key>
                <string>{170,77}</string>
            </dict>
            <key>com_btn_dismiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,201},{226,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,82}}</string>
                <key>sourceSize</key>
                <string>{226,82}</string>
            </dict>
            <key>com_btn_ensure.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,201},{226,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,83}}</string>
                <key>sourceSize</key>
                <string>{226,83}</string>
            </dict>
            <key>com_btn_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,970},{51,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,53}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>com_btn_number0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,798},{170,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>com_btn_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,325},{170,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,76}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>com_btn_unchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,92},{206,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,75}}</string>
                <key>sourceSize</key>
                <string>{206,75}</string>
            </dict>
            <key>com_icon_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,428},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>com_img_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,428},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>com_img_checkbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,470},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>com_img_checkboxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,201},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>com_img_checkboxbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,201},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>com_img_iconframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,287},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>com_img_kungbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,286},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>com_img_panel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,352},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>com_img_panel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,439},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>com_img_panel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,201},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>com_img_panel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,294},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>com_img_panel_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,470},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>com_img_panel_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{811,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{811,133}}</string>
                <key>sourceSize</key>
                <string>{811,133}</string>
            </dict>
            <key>com_img_panel_celltitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{815,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{815,62}}</string>
                <key>sourceSize</key>
                <string>{817,64}</string>
            </dict>
            <key>com_img_panel_srk.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,368},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>com_img_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,66},{1,1}}</string>
                <key>offset</key>
                <string>{-54,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>com_txt_ccmj_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,286},{136,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,40}}</string>
                <key>sourceSize</key>
                <string>{136,40}</string>
            </dict>
            <key>com_txt_ccmj_unchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,246},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>com_txt_dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,970},{121,48}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{121,48}}</string>
                <key>sourceSize</key>
                <string>{127,52}</string>
            </dict>
            <key>com_txt_gsh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{274,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,167}}</string>
                <key>sourceSize</key>
                <string>{274,167}</string>
            </dict>
            <key>com_txt_hdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{274,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,167}}</string>
                <key>sourceSize</key>
                <string>{274,167}</string>
            </dict>
            <key>com_txt_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{194,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,88}}</string>
                <key>sourceSize</key>
                <string>{194,88}</string>
            </dict>
            <key>com_txt_jlmj_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,328},{135,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,40}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>com_txt_jlmj_unchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,376},{127,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
            <key>com_txt_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>com_txt_tp.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,420},{113,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{113,48}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>com_txt_wtp.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,370},{113,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{113,48}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>com_txt_zm.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{194,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,88}}</string>
                <key>sourceSize</key>
                <string>{194,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1bcaae1e32ed9a422742453be5f02ca:1/1$</string>
            <key>textureFileName</key>
            <string>com.png</string>
        </dict>
    </dict>
</plist>
