<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E00E.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,468},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>emoji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,996},{68,78}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{68,78}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,995},{70,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{70,76}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,738},{111,121}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{111,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,714},{111,121}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{111,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1174},{70,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{70,70}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1148},{113,111}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{113,111}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1069},{113,115}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{113,115}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1148},{113,111}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{113,111}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1061},{113,111}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{113,111}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,962},{113,111}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{113,111}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1033},{113,115}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{113,115}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,962},{113,111}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{113,111}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,938},{113,113}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{113,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{70,70}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,831},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,795},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,718},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,708},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,672},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,595},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,585},{123,121}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,526},{56,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{56,98}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{89,145}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,3},{89,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{89,141}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,3},{89,141}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{89,149}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{89,149}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{89,159}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{89,159}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,925},{68,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{68,66}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,587},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,468},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,587},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,468},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{125,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1075},{68,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{68,70}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,498},{121,127}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{121,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,621},{121,121}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{121,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,246},{121,135}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,13},{121,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,464},{121,127}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,25},{121,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,615},{121,125}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,29},{121,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1053},{70,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{70,68}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,970},{113,111}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{113,111}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,855},{113,113}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{113,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,970},{113,111}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{113,111}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1143},{113,113}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{113,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{105,119}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{105,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{115,129}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,23},{115,129}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1066},{111,101}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,52},{111,101}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,956},{103,117}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,32},{103,117}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,359},{52,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{52,82}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,343},{83,133}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,1},{83,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,119},{91,146}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{91,146}}</string>
                <key>sourceSize</key>
                <string>{163,164}</string>
            </dict>
            <key>emoji_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,274},{83,133}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{83,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,842},{96,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{96,68}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,113}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{161,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{153,115}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{153,115}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{143,111}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{143,111}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,93},{153,109}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{153,109}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,626},{72,76}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{72,76}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,468},{115,129}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{115,129}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{115,123}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,31},{115,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,700},{70,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{70,76}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,954},{113,119}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{113,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,244},{113,121}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{113,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1067},{74,80}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{74,80}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,851},{109,117}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{109,117}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,123},{109,119}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{109,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,553},{117,125}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{117,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,369},{117,129}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{117,129}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,827},{109,117}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,35},{109,117}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,744},{109,117}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,35},{109,117}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,855},{68,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{68,66}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,918},{113,119}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{113,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,841},{113,119}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{113,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{147,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{147,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,204},{145,131}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{145,131}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,428},{129,123}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{129,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1184},{107,107}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{107,107}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,912},{82,84}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{82,84}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{129,133}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{129,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{129,133}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{129,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,139},{133,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{133,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,337},{129,133}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{129,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,228},{133,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{133,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,212},{129,133}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{129,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,111},{133,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{133,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,367},{129,133}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{129,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,93},{133,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{133,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,772},{68,88}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{68,88}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>emoji_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,363},{99,135}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,21},{99,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,359},{107,131}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{107,131}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{107,141}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,15},{107,141}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1023},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61a8b472332eecf0546bc304c8195095:1/1$</string>
            <key>textureFileName</key>
            <string>emoji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
