<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_plus_bg_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{531,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,66}}</string>
                <key>sourceSize</key>
                <string>{531,66}</string>
            </dict>
            <key>com_plus_tx_nic.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,85},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>com_plus_tx_qsryqm.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,312},{216,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,37}}</string>
                <key>sourceSize</key>
                <string>{216,37}</string>
            </dict>
            <key>com_plus_tx_wdwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,158},{152,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,43}}</string>
                <key>sourceSize</key>
                <string>{152,43}</string>
            </dict>
            <key>com_plus_tx_yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>com_plus_tx_yqm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,43}}</string>
                <key>sourceSize</key>
                <string>{122,43}</string>
            </dict>
            <key>com_plus_tx_yxid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{107,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,36}}</string>
                <key>sourceSize</key>
                <string>{107,36}</string>
            </dict>
            <key>common_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonplus.pvr.ccz</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a55621378f3532709b515b998821307d:1/1$</string>
            <key>textureFileName</key>
            <string>commonplus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
