<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjCardBg_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{72,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>mjCardBg_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,270},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>mjCardBg_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>mjCardBg_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,210},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>mjCardBg_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>mjCardBg_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>mjCardBg_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,400},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>mjCardBg_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,338},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>mjCardBg_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,356},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>mjCardBg_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>mjCardBg_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
            <key>mjCardBg_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>mjCardBg_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>mjCardBg_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,164},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>mjCardBg_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,328},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>mjCardBg_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,300},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>mjCardBg_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,424},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>mjCardBg_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,60},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>mjCardBg_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,424},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>mjCardBg_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,140},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>mjCardBg_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
            <key>mjCardBg_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,202},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>mjCardBg_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,256},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>mjCardBg_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,118},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>mjCardBg_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,270},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>mjCardBg_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,202},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>mjCardBg_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,380},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>mjCardBg_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>mjCardBg_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,338},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>mjCardBg_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,78},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjCardBg.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96b9ddded61e93d87dd80b3270da132c:1/1$</string>
            <key>textureFileName</key>
            <string>mjCardBg.png</string>
        </dict>
    </dict>
</plist>
