<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>other_btn_chapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>other_btn_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,472},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>other_btn_pyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,480},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>other_btn_wfjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{127,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,51}}</string>
                <key>sourceSize</key>
                <string>{127,51}</string>
            </dict>
            <key>other_btn_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>other_icon_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,159},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>other_icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,844},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>other_icon_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,764},{89,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,98}}</string>
                <key>sourceSize</key>
                <string>{91,102}</string>
            </dict>
            <key>other_img_bqchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,96},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>other_img_bqunchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,864},{119,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,41}}</string>
                <key>sourceSize</key>
                <string>{119,41}</string>
            </dict>
            <key>other_img_chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{273,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,56}}</string>
                <key>sourceSize</key>
                <string>{273,56}</string>
            </dict>
            <key>other_img_chat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{265,50}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{265,50}}</string>
                <key>sourceSize</key>
                <string>{273,56}</string>
            </dict>
            <key>other_img_chatcellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,83}}</string>
                <key>sourceSize</key>
                <string>{638,83}</string>
            </dict>
            <key>other_img_chattitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{209,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,62}}</string>
                <key>sourceSize</key>
                <string>{209,62}</string>
            </dict>
            <key>other_img_cyychoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,489},{155,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,40}}</string>
                <key>sourceSize</key>
                <string>{155,40}</string>
            </dict>
            <key>other_img_cyyunchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{155,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,41}}</string>
                <key>sourceSize</key>
                <string>{155,41}</string>
            </dict>
            <key>other_img_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{926,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{926,4}}</string>
                <key>sourceSize</key>
                <string>{926,4}</string>
            </dict>
            <key>other_img_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,297},{168,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,69}}</string>
                <key>sourceSize</key>
                <string>{168,69}</string>
            </dict>
            <key>other_img_loading_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,704},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>other_img_tingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,138},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>other_img_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,569},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>other_img_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{304,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,24}}</string>
                <key>sourceSize</key>
                <string>{304,24}</string>
            </dict>
            <key>other_img_yxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,297},{302,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,22}}</string>
                <key>sourceSize</key>
                <string>{302,22}</string>
            </dict>
            <key>other_txt_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>other_txt_ccmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,330},{157,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,44}}</string>
                <key>sourceSize</key>
                <string>{157,44}</string>
            </dict>
            <key>other_txt_cjfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,798},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>other_txt_dqqs.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,569},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>other_txt_dqzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,601},{101,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,29}}</string>
                <key>sourceSize</key>
                <string>{101,29}</string>
            </dict>
            <key>other_txt_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,301},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>other_txt_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,301},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>other_txt_hyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,883},{125,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,37}}</string>
                <key>sourceSize</key>
                <string>{125,37}</string>
            </dict>
            <key>other_txt_jx.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,978},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>other_txt_jxyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,255},{152,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,44}}</string>
                <key>sourceSize</key>
                <string>{152,44}</string>
            </dict>
            <key>other_txt_kjsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,764},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>other_txt_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,790},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>other_txt_pyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,134},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>other_txt_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,383},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>other_txt_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,427},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>other_txt_sfzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,844},{144,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>other_txt_smrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,978},{163,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,44}}</string>
                <key>sourceSize</key>
                <string>{163,44}</string>
            </dict>
            <key>other_txt_sqjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,646},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>other_txt_syps.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,537},{103,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
            <key>other_txt_tc.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,347},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>other_txt_title_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,628},{63,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>other_txt_title_cjfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>other_txt_title_cyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,601},{101,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,40}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>other_txt_title_fjgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{163,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,43}}</string>
                <key>sourceSize</key>
                <string>{163,43}</string>
            </dict>
            <key>other_txt_title_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,601},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>other_txt_title_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>other_txt_title_jrfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,167},{161,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,43}}</string>
                <key>sourceSize</key>
                <string>{161,43}</string>
            </dict>
            <key>other_txt_title_pjxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,930},{172,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,46}}</string>
                <key>sourceSize</key>
                <string>{172,46}</string>
            </dict>
            <key>other_txt_title_sqjsfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,251},{160,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,44}}</string>
                <key>sourceSize</key>
                <string>{160,44}</string>
            </dict>
            <key>other_txt_title_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,704},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>other_txt_title_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,643},{83,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{83,43}</string>
            </dict>
            <key>other_txt_title_wfsm_.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,308},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>other_txt_title_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,964},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>other_txt_title_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,489},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>other_txt_title_zjjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>other_txt_xh.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,348},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>other_txt_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,297},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>other_txt_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,920},{63,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{69,40}</string>
            </dict>
            <key>other_txt_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,704},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>other_txt_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,428},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>other_txt_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,174},{141,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,75}}</string>
                <key>sourceSize</key>
                <string>{141,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:958136497b4f53821fbfe3273a95337d:1/1$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
